@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


html{
	min-width: 100vh;
	scroll-behavior: smooth;
}



.headers {
	font-family: 'Caveat Brush', cursive;
	color: black;
	font-size: 5em;
}


