html{
	min-width: 100vh;
	scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

h1 {
	font-family: 'Caveat Brush', cursive;
	color: black;
	font-size: 4em; 
}


